Netradyne/Pipeline/pl_netr_configuration_v2.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "WebActivity",
        "typeProperties": {
          "method": "GET",
          "headers": {
            "Authorization": "Basic ZjIyODAzODctNDVkZC00NDQ1LTk5YjAtYjc0NDFhZTZlNDVlOkIxOTA4QjU1RTQwRjRCNUU0NUJENEIyMEU1NDQ3QjgyQjNDM0QyQzRGNzg0MjFBMDNDQTlFNTJDNkI0OENCNTU="
          }
        },
        "externalReferences": {
          "connection": "845c26f2-e6a8-41a7-bec2-0179606920ae"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "GET auth_token",
        "dependsOn": []
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "auth_token",
          "value": {
            "value": "@concat('Bearer ', activity('GET auth_token').output.data[0].accessToken)",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set auth_token",
        "dependsOn": [
          {
            "activity": "GET auth_token",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "RestSource",
            "requestMethod": "GET",
            "additionalHeaders": {
              "Authorization": {
                "value": "@variables('auth_token')",
                "type": "Expression"
              }
            },
            "paginationRules": {
              "supportRFC5988": "true"
            },
            "httpRequestTimeout": "00:01:40",
            "requestInterval": "00.00:00:00.010",
            "datasetSettings": {
              "type": "RestResource",
              "typeProperties": {
                "relativeUrl": "configurations"
              },
              "schema": [],
              "externalReferences": {
                "connection": "ca10c52a-3e8d-4eed-ab96-ffbaeda50b0b"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "JsonSink",
            "formatSettings": {
              "type": "JsonWriteSettings"
            },
            "storeSettings": {
              "type": "AzureBlobStorageWriteSettings"
            },
            "datasetSettings": {
              "type": "Json",
              "typeProperties": {
                "location": {
                  "type": "AzureBlobStorageLocation",
                  "container": "netradyne",
                  "fileName": "netradyne_config.json"
                }
              },
              "schema": {},
              "externalReferences": {
                "connection": "88f75a66-687a-47b0-9f13-cb78a8274674"
              },
              "annotations": []
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy data1",
        "dependsOn": [
          {
            "activity": "Set auth_token",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "type": "AzureSqlTable",
              "typeProperties": {
                "schema": "dbo",
                "table": "TempNetraConfig",
                "database": "azrsqldb_scus_edw"
              },
              "schema": [],
              "externalReferences": {
                "connection": "924ff1b7-6a05-44d7-a6dd-596c19d2aa8f"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "OverwriteSchema",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "table": "netr_configuration_v2_new"
              },
              "schema": [],
              "linkedService": {
                "name": "data_central_lh",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "f9a73da1-08e4-4f3d-a67f-74623bfde721",
                    "workspaceId": "a6d2c31b-0b03-4c60-a258-c2664c56fe3d",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy data2",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "5c3a9c19-ac03-9158-495f-64e09ab9e9d0",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Notebook1",
        "dependsOn": [
          {
            "activity": "Copy data1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "RefreshDataflow",
        "typeProperties": {
          "dataflowId": "eea8fefe-5c18-4c09-a344-74f1442696bd",
          "workspaceId": "a6d2c31b-0b03-4c60-a258-c2664c56fe3d",
          "notifyOption": "NoNotification"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Dataflow1",
        "dependsOn": [
          {
            "activity": "Notebook1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "auth_token": {
        "type": "String"
      }
    }
  }
}