Netradyne/Pipeline/pl_netr_alerts_v1_looper.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "WebActivity",
        "typeProperties": {
          "method": "GET",
          "headers": {
            "Authorization": "Basic ZjIyODAzODctNDVkZC00NDQ1LTk5YjAtYjc0NDFhZTZlNDVlOkIxOTA4QjU1RTQwRjRCNUU0NUJENEIyMEU1NDQ3QjgyQjNDM0QyQzRGNzg0MjFBMDNDQTlFNTJDNkI0OENCNTU="
          }
        },
        "externalReferences": {
          "connection": "845c26f2-e6a8-41a7-bec2-0179606920ae"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get auth_token",
        "dependsOn": []
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "auth_token",
          "value": {
            "value": "@concat('Bearer ', activity('GET auth_token').output.data[0].accessToken)",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set auth_token",
        "dependsOn": [
          {
            "activity": "Get auth_token",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "SELECT TOP 50 alert_date_unix\nFROM dbo.tmp_alert_dates\nWHERE is_complete = 0",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "data_central_wh",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "f8578495-391e-4e7e-b791-4949397ba86f",
                  "endpoint": "lofzv5bdxbxepf3ufbs6kug4du-dpb5fjqdbnqezisyyjteyvx6hu.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "a6d2c31b-0b03-4c60-a258-c2664c56fe3d"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get seed date",
        "dependsOn": [
          {
            "activity": "Set auth_token",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Get seed date').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "RestSource",
                  "requestMethod": "GET",
                  "additionalHeaders": {
                    "Authorization": {
                      "value": "@variables('auth_token')",
                      "type": "Expression"
                    }
                  },
                  "paginationRules": {
                    "AbsoluteUrl": "$.links.next"
                  },
                  "httpRequestTimeout": "00:01:40",
                  "requestInterval": "00.00:00:00.010",
                  "datasetSettings": {
                    "type": "RestResource",
                    "typeProperties": {
                      "relativeUrl": {
                        "value": "@concat('alerts?startTime=',variables('varFromDate'),'&offset=0')",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "af8e3e52-c1a9-40f3-be32-8bfb4f6f13af"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "Append",
                  "datasetSettings": {
                    "type": "LakehouseTable",
                    "typeProperties": {
                      "table": "netr_alerts_v1_bronze"
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "data_central_lh",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "3bfde721-7462-a67f-4f3d-08e4f9a73da1",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Tables"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  },
                  "columnFlattenSettings": {
                    "treatArrayAsString": false,
                    "treatStructAsString": false,
                    "flattenColumnDelimiter": "."
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Alerts to Bronze",
              "dependsOn": [
                {
                  "activity": "Set From Date",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "varFromDate",
                "value": {
                  "value": "@item().alert_date_unix",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set From Date",
              "dependsOn": []
            },
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[dbo].[usp_netr_alert_silver]"
              },
              "linkedService": {
                "name": "data_central_wh",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "f8578495-391e-4e7e-b791-4949397ba86f",
                    "endpoint": "lofzv5bdxbxepf3ufbs6kug4du-dpb5fjqdbnqezisyyjteyvx6hu.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "a6d2c31b-0b03-4c60-a258-c2664c56fe3d"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Alerts to Silver",
              "dependsOn": [
                {
                  "activity": "Alerts to Bronze",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "@concat('UPDATE dbo.tmp_alert_dates SET is_complete = 1 WHERE alert_date_unix = ''', variables('varFromDate'),'''')",
                      "type": "Expression"
                    },
                    "type": "Query"
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "linkedService": {
                "name": "data_central_wh",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "f8578495-391e-4e7e-b791-4949397ba86f",
                    "endpoint": "lofzv5bdxbxepf3ufbs6kug4du-dpb5fjqdbnqezisyyjteyvx6hu.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "a6d2c31b-0b03-4c60-a258-c2664c56fe3d"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "UPDATE the flag",
              "dependsOn": [
                {
                  "activity": "Alerts to Silver",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "ForEach1",
        "dependsOn": [
          {
            "activity": "Get seed date",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "auth_token": {
        "type": "String"
      },
      "varTotalCount": {
        "type": "String"
      },
      "varFromDate": {
        "type": "String"
      }
    }
  }
}