Thermo King/pl_trkg_getData_v1.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "RestSource",
            "requestMethod": "GET",
            "additionalHeaders": {
              "X-External-ID": "532FF3BD-E5D6-4A0C-BB38-AEA727E42D49",
              "X-OAuth2-token": {
                "value": "@variables('varToken')",
                "type": "Expression"
              }
            },
            "paginationRules": {
              "supportRFC5988": "true"
            },
            "httpRequestTimeout": "00:01:40",
            "requestInterval": "00.00:00:00.010",
            "datasetSettings": {
              "type": "RestResource",
              "typeProperties": {
                "relativeUrl": {
                  "value": "@concat(variables('varFromDate'),'/',variables('varToDate'),'/')",
                  "type": "Expression"
                }
              },
              "schema": [],
              "externalReferences": {
                "connection": "f37c308d-30c8-4768-b27b-dc391a8a02ba"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "Append",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "table": "trkg_getData_v1_bronze"
              },
              "schema": [],
              "linkedService": {
                "name": "data_central_lh",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3bfde721-7462-a67f-4f3d-08e4f9a73da1",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            },
            "columnFlattenSettings": {
              "treatArrayAsString": false,
              "treatStructAsString": false,
              "flattenColumnDelimiter": "."
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "getData v1",
        "dependsOn": [
          {
            "activity": "Set ToDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "WebActivity",
        "typeProperties": {
          "method": "POST",
          "headers": {
            "X-External-ID": "532FF3BD-E5D6-4A0C-BB38-AEA727E42D49",
            "Content-Type": "application/json"
          },
          "body": {
            "userName": "webservice.user124@stevenstransport.com",
            "password": "rhVhzNftFJNiE1CgGRAr"
          }
        },
        "externalReferences": {
          "connection": "495f186d-0c1b-4558-bb2b-3c9d0c3650ea"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Token",
        "dependsOn": []
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "varToken",
          "value": {
            "value": "@activity('Get Token').output.accessToken",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set varToken",
        "dependsOn": [
          {
            "activity": "Get Token",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[dbo].[usp_trkg_getdata_v1_silver]"
        },
        "linkedService": {
          "name": "data_central_wh",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "f8578495-391e-4e7e-b791-4949397ba86f",
              "endpoint": "lofzv5bdxbxepf3ufbs6kug4du-dpb5fjqdbnqezisyyjteyvx6hu.datawarehouse.fabric.microsoft.com",
              "workspaceId": "a6d2c31b-0b03-4c60-a258-c2664c56fe3d"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Move data to Silver",
        "dependsOn": [
          {
            "activity": "getData v1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "varFromDate",
          "value": {
            "value": "@concat(formatDateTime(adddays(utcNow(),-1), 'yyyy-MM-dd'),' ', '00:00:00')",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set From Date",
        "dependsOn": [
          {
            "activity": "Set varToken",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "varToDate",
          "value": {
            "value": "@concat(formatDateTime(adddays(utcNow(),-1), 'yyyy-MM-dd'), ' ', '23:59:59')",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set ToDate",
        "dependsOn": [
          {
            "activity": "Set From Date",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[dbo].[usp_trkg_getdata_v1_gold]"
        },
        "linkedService": {
          "name": "data_central_wh",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "f8578495-391e-4e7e-b791-4949397ba86f",
              "endpoint": "lofzv5bdxbxepf3ufbs6kug4du-dpb5fjqdbnqezisyyjteyvx6hu.datawarehouse.fabric.microsoft.com",
              "workspaceId": "a6d2c31b-0b03-4c60-a258-c2664c56fe3d"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Move data to Gold",
        "dependsOn": [
          {
            "activity": "Move data to Silver",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "varToken": {
        "type": "String"
      },
      "varFromDate": {
        "type": "String"
      },
      "varToDate": {
        "type": "String"
      }
    }
  }
}